pre {
  text-align: center;
}
pre span {
  display: inline-block;
  text-align: left;
}

pre div:not(:first-child) span {
  margin-top: -50px;
}

.visualization {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.bar {
  background: rgba(255,255,255,0.3);
  height: 50%;
  flex: 1 1 100%;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.bar.active {
  background-color: rgba(255,255,255,0.7);
}

a.invisible {
  color: inherit;
  text-decoration: none; /* no underline */
}