<h1>{{currentNote}}</h1>

<div id="trackwave"></div>

<div id="controls">
  <figure (click)="toggleRecording()">
    <div>
      <span>{{isRecording ? 'Stop Recording': 'Start Recording'}}</span>
      <span>{{isRecording ? 'Stop Recording': 'Start Recording'}}</span>
    </div>
  </figure>

  <figure (click)="wavesurfer.playPause()">
    <div>
      <span>{{wavesurfer.isPlaying() ? 'Pause': 'Play'}}</span>
      <span>{{wavesurfer.isPlaying() ? 'Pause': 'Play'}}</span>
    </div>
  </figure>

  <a class="invisible" [href]="downloadLink" [download]="downloadFile">
    <figure>
      <div>
        <span>Save</span>
        <span>Save</span>
      </div>
    </figure>
  </a>
</div>

<!-- CONNECT
<select name="controller" id="controller" (change)="connectSource($event)">
  <option value="">Select</option>
  <option [value]="input.id" *ngFor="let input of midiInputs">{{input.name}}</option>
</select>
-->

<!-- VISUALIZE -->
<div class="visualization">
  <div class="bar"
       [ngClass]="{active: note.active}"
       [style.height]="getAdjustedNoteHeight(note)"
       *ngFor="let note of noteTransforms">
  </div>
</div>
