pre {
  text-align: center;
}
pre span {
  display: inline-block;
  text-align: left;
}

pre div:not(:first-child) span {
  margin-top: -50px;
}

/*
canvas {
  display: inline-block;
  background: #202020;
  width: 95%;
  height: 200px;
  box-shadow: 0px 0px 10px blue;
}
*/

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

#viz {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.recording {
  border: 2px red solid;
}

.visualization {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.bar {
  background: rgba(255,255,255,0.3);
  height: 50%;
  flex: 1 1 100%;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.bar.active {
  background-color: rgba(255,255,255,0.7);
}