<app-track *ngFor="let blob of blobs" [blob]="blob" [playing]="isPlaying"></app-track>

<div id="controls">
	<figure (click)="toggleRecording()">
		<div>
			<span>{{isRecording ? 'Stop Recording': 'Start Recording'}}</span>
			<span>{{isRecording ? 'Stop Recording': 'Start Recording'}}</span>
		</div>
	</figure>

	<figure (click)="togglePlaying()">
		<div>
			<span>{{isPlaying ? 'Pause': 'Play'}}</span>
			<span>{{isPlaying ? 'Pause': 'Play'}}</span>
		</div>
	</figure>

	<a class="invisible" [href]="downloadLink" [download]="downloadFile">
		<figure>
			<div>
				<span>Save</span>
				<span>Save</span>
			</div>
		</figure>
	</a>
</div>
