<!--suppress HtmlUnknownAnchorTarget, HtmlUnknownTarget -->

<div [mnFullpage]="options"
	[mnFullpageNavigation]="true"
	[mnFullpageKeyboardScrolling]="true"
	[mnFullpageSlidesNavigation]="true"
	[mnFullpageSlidesNavPosition]="bottom">

	<!-- INTRO -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<h1>Mischief Maker</h1>
			<h3>have an out of browser experience</h3>
			<app-track></app-track>
		</div>
	</div>
	<!-- CONNECT -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Connect</h1>
				<app-devices></app-devices>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Connect Demo</h1>
			</div>
		</div>
	</div>
	<!-- CAPTURE -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Capture</h1>
				<app-messages></app-messages>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Capture Demo</h1>
			</div>
		</div>
	</div>
	<!-- CONVERT -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Convert</h1>
				<app-notes></app-notes>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Convert Demo</h1>
			</div>
		</div>
	</div>
	<!-- PLAY -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Play</h1>
				<app-synth></app-synth>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Play Demo</h1>
			</div>
		</div>
	</div>
	<!-- RECORD -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Record</h1>
				<app-record></app-record>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Record Demo</h1>
			</div>
		</div>
	</div>
	<!-- REPLAY -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Replay</h1>
				<app-track></app-track>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Replay Demo</h1>
			</div>
		</div>
	</div>
	<!-- LAYER -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Layer</h1>
				<app-workspace></app-workspace>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Layer Demo</h1>
			</div>
		</div>
	</div>
	<!-- VISUALIZE -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Visualize</h1>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Visualize Demo</h1>
			</div>
		</div>
	</div>
	<!-- FINALE -->
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Grand Finale</h1>
			</div>
			<div class="slide">
				<h1>Final Demo!!</h1>
			</div>
		</div>
	</div>
</div>