<!--suppress HtmlUnknownAnchorTarget, HtmlUnknownTarget -->

<div [mnFullpage]="options"
	[mnFullpageNavigation]="true"
	[mnFullpageKeyboardScrolling]="true"
	[mnFullpageSlidesNavigation]="true"
	[mnFullpageSlidesNavPosition]="bottom">

	<!-- INTRO -->
	<div class="section welcome-section fp-section fp-table">
		<div class="fp-tableCell">
			<h1>Intro Slide</h1>
		</div>
	</div>
	<!-- CONNECT -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Connect</h1>
				<!--<polysynth-control-panel></polysynth-control-panel>-->
				<app-track></app-track>
				<!--<polysynth-keyboard></polysynth-keyboard>-->
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Connect Demo</h1>
			</div>
		</div>
	</div>
	<!-- CAPTURE -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Capture</h1>
				<app-track></app-track>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Capture Demo</h1>
			</div>
		</div>
	</div>
	<!-- INTERPRET -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Interpret</h1>
				<app-track></app-track>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Interpret Demo</h1>
			</div>
		</div>
	</div>
	<!-- DISPLAY -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Display</h1>
				<app-track></app-track>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Display Demo</h1>
			</div>
		</div>
	</div>
	<!-- RECORD -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Record</h1>
				<app-track></app-track>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Record Demo</h1>
			</div>
		</div>
	</div>
	<!-- REPLAY -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Replay</h1>
				<app-track></app-track>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Replay Demo</h1>
			</div>
		</div>
	</div>
	<!-- LAYER -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>LAYER</h1>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Layer Demo</h1>
			</div>
		</div>
	</div>
	<!-- VISUALIZE -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Visualize</h1>
			</div>
			<div class="slide">
				<div class="code-block">
          <pre>
              <code class="javascript">{{templates.usage.slides.module}}</code>
          </pre>
				</div>
			</div>
			<div class="slide">
				<h1>Visualize Demo</h1>
			</div>
		</div>
	</div>
	<!-- FINALE -->
	<div class="section install-section fp-section fp-table">
		<div class="fp-tableCell">
			<div class="slide">
				<h1>Grand Finale</h1>
			</div>
			<div class="slide">
				<h1>Final Demo!!</h1>
			</div>
		</div>
	</div>
</div>