@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

$body-color: #333;

$menu-color: #000;
$menu-color-hover: rgba(255, 255, 255, .8);
$menu-color-background: rgba(255, 255, 255, .5);
$menu-color-active: #fff;
$menu-color-active-background: rgba(0, 0, 0, .5);

$section-code-background: rgba(255, 255, 255, .1);

$section-degree: 180deg;
$section-first-color: rgb(33, 33, 33);
$section-second-color: rgb(60, 63, 65);

$orange: #f2842f;
$pink: #d23258;
$blue: #46a8d7;
$purple: #814f98;

$primary-color: $pink;
$secondary-color: $purple;

body {
  font-family: 'Titillium Web', Arial sans-serif;
  color: $primary-color;
}

.orange {
  color: #f2842f;
}

.pink {
  color: #d23258;
}

.blue {
  color: #46a8d7;
}

.purple {
  color: #814f98;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #d23258;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

.menu-wrapper {
  position: fixed;
  width: 100%;
  z-index: 70;
  text-align: center;
  height: 40px;
  margin: auto;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 10px;
  color: $menu-color;
  background: $menu-color-active;
  background: $menu-color-background;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.menu li.active {
  background: #666;
  background: $menu-color-active-background;
  color: $menu-color-active;
}

.menu li a {
  text-decoration: none;
  color: $menu-color;
}

.menu li.active a:hover {
  color: $menu-color;
}

.menu li:hover {
  background: $menu-color-hover;
}

.menu li a,
.menu li.active a {
  padding: 9px 18px;
  display: block;
}

.menu li.active a {
  color: $menu-color-active;
}

.section {
  text-align: center;
}

.section pre {
  margin-top: 5px;
  text-align: start;
}

.section pre code {
  background: $section-code-background !important;
  font-weight: normal;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  padding: 25px;
}

.code-block {
  margin: auto;
  display: inline-block;
}

.code-block code {
  font-size: 2em !important;
}

button {
  display: inline-block;
  margin: 10px;
  color: $menu-color;
  background: $menu-color-active;
  background: $menu-color-background;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 7px 50px;
  border-color: white;
  background: rgba(255, 255, 255, 0.1);
}


#viz {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

figure {
  width: 240px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

figure:hover div {
  transform: rotateX(-90deg);
}

span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid $primary-color;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: uppercase;
}

span:nth-child(1) {
  color: $primary-color;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

span:nth-child(2) {
  color: $section-first-color;
  background-color: $primary-color;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}


/* SECTION STYLES */
.fp-section {
  background: linear-gradient($section-degree, $section-first-color, $section-second-color);
}

