@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

$body-color: #333;

$menu-color: #000;
$menu-color-hover: rgba(255, 255, 255, .8);
$menu-color-background: rgba(255, 255, 255, .5);
$menu-color-active: #fff;
$menu-color-active-background: rgba(0, 0, 0, .5);

$section-code-background: rgba(255, 255, 255, .1);

$section-degree: 180deg;
$section-first-color: #000;
$section-second-color: #434343;

$orange: #f2842f;
$pink: #d23258;
$blue: #46a8d7;
$purple: #814f98;

$primary-color: $blue;
$secondary-color: $purple;

body {
  font-family: 'Titillium Web', Arial sans-serif;
  color: $primary-color;
}

.orange {
  color: #f2842f;
}

.pink {
  color: #d23258;
}

.blue {
  color: #46a8d7;
}

.purple {
  color: #814f98;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: $primary-color;
}

h1 {
  font-size: 10em;
}

h2 {
  font-size: 8em;
}

h3 {
  font-size: 6em;
}

h4 {
  font-size: 2em;
}

.menu-wrapper {
  position: fixed;
  width: 100%;
  z-index: 70;
  text-align: center;
  height: 40px;
  margin: auto;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 10px;
  color: $menu-color;
  background: $menu-color-active;
  background: $menu-color-background;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.menu li.active {
  background: #666;
  background: $menu-color-active-background;
  color: $menu-color-active;
}

.menu li a {
  text-decoration: none;
  color: $menu-color;
}

.menu li.active a:hover {
  color: $menu-color;
}

.menu li:hover {
  background: $menu-color-hover;
}

.menu li a,
.menu li.active a {
  padding: 9px 18px;
  display: block;
}

.menu li.active a {
  color: $menu-color-active;
}

.section {
  text-align: center;
}

.section pre {
  margin-top: 5px;
  text-align: start;
}

.section pre code {
  background: $section-code-background !important;
  font-weight: normal;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  padding: 25px;
}

.code-block {
  margin: auto;
  display: inline-block;
}

.code-block code {
  font-size: 2em !important;
}

button {
  display: inline-block;
  margin: 10px;
  color: $menu-color;
  background: $menu-color-active;
  background: $menu-color-background;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 7px 50px;
  border-color: white;
  background: rgba(255, 255, 255, 0.1);
}


#viz {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

figure {
  width: 240px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;

  div {
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.25s;
    -webkit-transition: 0.25s;
  }

  span {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid $primary-color;
    line-height: 50px;
    font-size: 17pt;
    text-align: center;
    text-transform: uppercase;
  }

  span:nth-child(1) {
    color: $primary-color;
    transform: translate3d(0, 0, 30px);
    -webkit-transform: translate3d(0, 0, 30px);
  }

  span:nth-child(2) {
    color: $section-first-color;
    background-color: $primary-color;
    transform: rotateX(90deg) translate3d(0, 0, 30px);
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
  }
}

figure:hover div {
  transform: rotateX(-90deg);
}

/* SECTION STYLES */
.fp-section {
  background: linear-gradient($section-degree, $section-first-color, $section-second-color);
}


.view {
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  font-size: 240px;
  line-height: 200px;
  letter-spacing: 2px;
  font-weight: 800;
  width: 950px;
  height: 600px;
  padding: 50px;
  transform-origin: 50% 100%;
  transform: rotateX(45deg) rotateZ(-45deg) rotateY(0deg);
  animation: rotateMe 12s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -450px auto auto -100px;
  color: #449DA7;
  text-transform: uppercase;
  text-shadow: -20px 20px #2D7982, -19px 19px #2D7982, -18px 18px #2D7982, -17px 17px #2D7982, -16px 16px #2D7982, -15px 15px #2D7982, -14px 14px #2D7982, -13px 13px #2D7982, -12px 12px #2D7982, -11px 11px #2D7982, -10px 10px #2D7982, -9px 9px #2D7982, -8px 8px #2D7982, -7px 7px #2D7982, -6px 6px #2D7982, -5px 5px #2D7982, -4px 4px #2D7982, -3px 3px #2D7982, -2px 2px #2D7982, -1px 1px #2D7982;
}

@keyframes rotateMe {
  0%,
  100% {
    transform: rotateX(45deg) rotateZ(-45deg) rotateY(0deg);
    letter-spacing: 5px;
  }

  50% {
    transform: rotateX(45deg) rotateZ(-45deg) rotateY(10deg);
    letter-spacing: 0px;
  }
}

.script {
  font-size: 12px;
  padding: 100px;
  position: absolute;
  bottom: -100px;
}

.devices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  border: 5px solid $blue;
  margin: 5px;
  -webkit-animation: 2s slide-animation-enter;
  animation: 1s slide-animation-enter;
  color: $blue;
}

@keyframes slide-animation-enter {
  from {
    color: $purple;
    border: 5px solid $purple;
  }
  to {
    color: $blue;
    border: 5px solid $blue;
  }
}
