@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

$body-color: #333;

$menu-color: #000;
$menu-color-hover: rgba(255, 255, 255, .8);
$menu-color-background: rgba(255, 255, 255, .5);
$menu-color-active: #fff;
$menu-color-active-background: rgba(0, 0, 0, .5);

$section-code-background: rgba(255, 255, 255, .1);

$section-degree: 180deg;
$section-first-color: rgb(33, 33, 33);
$section-second-color: rgb(60, 63, 65);


body {
  font-family: 'Titillium Web', Arial sans-serif;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #ff8cc3;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

.menu-wrapper {
  position: fixed;
  width: 100%;
  z-index: 70;
  text-align: center;
  height: 40px;
  margin: auto;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 10px;
  color: $menu-color;
  background: $menu-color-active;
  background: $menu-color-background;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.menu li.active {
  background: #666;
  background: $menu-color-active-background;
  color: $menu-color-active;
}

.menu li a {
  text-decoration: none;
  color: $menu-color;
}

.menu li.active a:hover {
  color: $menu-color;
}

.menu li:hover {
  background: $menu-color-hover;
}

.menu li a,
.menu li.active a {
  padding: 9px 18px;
  display: block;
}

.menu li.active a {
  color: $menu-color-active;
}

.section {
  text-align: center;
}

.section pre {
  margin-top: 5px;
  text-align: start;
}

.section pre code {
  background: $section-code-background !important;
  font-weight: normal;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  padding: 25px;
}

.code-block {
  margin: auto;
  display: inline-block;
}

.code-block code {
  font-size: 2em !important;
}

button {
  display: inline-block;
  margin: 10px;
  color: $menu-color;
  background: $menu-color-active;
  background: $menu-color-background;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 7px 50px;
  border-color: white;
  background: rgba(255, 255, 255, 0.1);
}


/* SECTION STYLES */
.fp-section {
  background: linear-gradient($section-degree, $section-first-color, $section-second-color);
}

